@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    height: 100vh;
    color:  #333333;
    position: relative;
}
.container {
    padding: 0px 80px;
}
header {
    padding: 30px 0px;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
}
.main {
    margin-top: 75px;
    margin-bottom: 50px;
    overflow: hidden;
}
.body {
    display: flex;
    justify-content: space-between;
}
.left-section {
    width: 48%;
    height: 60vh;
}
img {
    width: 100%;
    height: 100%;
}
.right-section {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;

}
p {
    color: #4F4F4F;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 60%;
}
button {
    padding: 1rem 2rem 1rem 2rem;
    width: 37%;
    background: #333333;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
h6 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 0px;
}

@media  (max-width:427px) {
    body {
        height: fit-content;
        position: unset;
    }
    .container {
        padding: 0px 30px;
    }
    header {
        padding: 15px 0px;
    }
    .body {
        display: flex;
        flex-direction: column;
    }
    .left-section {
        width: 100%;
        height: 40vh;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .main {
        margin-top: 50px;
        margin-bottom: 50px;
        overflow: hidden;
    }
    .right-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        font-size: 48px;
        line-height: 60px;
        margin-top: 10px;
    }
    p {
        font-size: 18px;
        line-height: 27px;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    button {
        width: 60%;
    }
    footer {
        position: relative;
        width: 100%;
        bottom: 0;
        padding: 15px 0px;
        margin-top: 50px;
    }
}
